/* Stolen from Aslan Askarov (askarov.net), Carlo Angiuli (http://www.cs.cmu.edu/~cangiuli/), and Jonathan Sterling (jonmsterling.com) */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Special+Elite);

html {
    -webkit-font-smoothing: antialiased;
}

body{
    font-family:  "Helvetica Neue", Lato, Helvetica, "Trebuchet MS", Arial;
}

h4           { margin-top:0; margin-bottom:0; font-weight:700;}
.bf          { font-weight:700; font-family:"Special Elite" }

.titleblock{
    display:inline;
}

#name {
    font-weight:300;
    font-size:130%;
    font-style:normal;
    line-height: 1;
}

.course-title {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}


.info {
  font-weight:400;
  font-size:100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.3;
}

.warning {
  color: rgb(134,1,17);
}


#schedule th {
  color: #313a53;
}
#schedule thead tr {
  background: #cccccc;
}
#schedule tr:nth-child(2n) td {
  background: #ffffff;
}
#schedule tr:nth-child(2n-1) td {
  background: #efefef;
}
#schedule #date-column {
  width: 4em;
}
#schedule #topic-column {
  width: 24em;
}
